snippet ( "parens" i
(${1}${VISUAL})
endsnippet

snippet { "parens" i
{ ${1}${VISUAL} }
endsnippet

snippet [ "square brackets" i
[${1}${VISUAL}]
endsnippet

snippet " "double quotes" i
"${1}${VISUAL}"${2}
endsnippet

snippet ' "quotes" i
'${1}${VISUAL}'${2}
endsnippet

snippet ` "slanted quotes" i
\`${1}${VISUAL}\`${2}
endsnippet
