snippet fun "function" i
function(${1}) {
	${2}${VISUAL}
}${3}
endsnippet

snippet cl "console log" b
console.log(${1}${VISUAL})${2}
endsnippet

snippet if "if" i
if (${1}) {
	${2}${VISUAL}
}${3}
endsnippet
