snippet lh "line-height"
line-height: ${1};$0
endsnippet

snippet @m "@media()"
@media (${1}) {
	${VISUAL}
	$0
}
endsnippet

snippet bc "background-color"
background-color: ${1};$0
endsnippet

snippet tac "text-align: center;"
text-align: center;
endsnippet
