snippet snip "snippet" b
`!p snip.rv = "snippet"` ${1} "${2}"${3}
${4}
`!p snip.rv = "endsnippet"`${5}
endsnippet

snippet vis "${VISUAL}" i
\${VISUAL}$0
endsnippet

snippet !([1-5])! "digit" r
\${`!p snip.rv = match.group(1)`${1}}$0
endsnippet
