snippet l "let and equals"
let $1 = $2
endsnippet

snippet <l "<leader>" A
<leader>
endsnippet

snippet s "set and equals"
set $1=$0
endsnippet

snippet p "plug plugin"
Plug '$1'
endsnippet

snippet Plug "Plug plugin" bA
Plug '$1'
endsnippet
